
/* overrides */
.projectFrontPage .projectPhaseSection ul.projectPhases li .gt-phaseIcon {
    width: 91px;
    height: 90px;
}
.projectFrontPage .projectPhaseSection ul.projectPhases li .gt-phaseIcon .alternatePhase {
    font-size: 70%;
    text-transform: none;
}


.projectFrontPage .projectPhaseSection ul.projectPhases li:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 30px solid rgb(51, 153, 51);
	position: absolute;
	top: 50%;
	margin-top: -60px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}

.projectFrontPage .projectPhaseSection ul.projectPhases li:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 30px solid #E0F5E0;
	position: absolute;
	top: 50%;
	margin-top: -60px;
	left: 100%;
	z-index: 2;
}